<ion-view title="Alertas: engaños y estafas en WhatsApp" id="page30">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">Alertas: engaños y estafas en WhatsApp</span>
      </h4>
      <p>&nbsp;</p>
      <p>WhatsApp y el resto de aplicaciones de mensajería instantánea incorporan muchas funcionalidades: enviar/recibir mensajes de texto, videos, fotos ... y como tal, están expuestos a los mismos riesgos asociados a otros servicios de Internet como el
        correo electrónico y las redes sociales. ¿Cómo identificar posibles estafas por medio de la mensajería móvil? A continuación algunas formas de reconocerlos:</p>
    </div>
    <div>
      <p>
        <span style="color: #000080;">►</span> Mensajes de contactos desconocidos.</p>
      <p>
        <span style="color: #000080;">►</span> No apretar en letras color azul de enlaces a páginas web que no conocemos o no sabemos a que página nos llevará, mucho menos si se trata de un enlace acortado. Los enlaces se ven de esta manera:&nbsp;
        <a href="https://www.nombredelapagina.com/muchasletrasynúmeros">https://www.nombredelapagina.com/muchasletrasynúmeros</a>
      </p>
      <p>
        <span style="color: #000080;">►</span> No reenviemos cadenas de mensajes. A veces las cadenas de mensajes difunden información falsa, por lo tanto evitemos reenviarlas o asegurarnos que lo que dice, es totalmente cierto.</p>
      <p>
        <span style="color: #000080;">►</span> Pongamos especial atención si el mensaje es alarmista. Por ejemplo, que pasará algo (bueno o malo) si no hacemos lo que nos piden. Esto nunca es verdad. Tampoco debemos responder si te solicitan información privada, datos personales,
        bancarios. Si dudamos en este caso, es preferente hacer los trámites personalmente.</p>
      <p>
        <span style="color: #000080;">►</span> No debemos creer nunca si un mensaje contiene premios/cupones/sorteos, o si nos prometen algo simplemente por rellenar una encuesta, descargar una aplicación, facilitar tu número de teléfono, etc. Es mentira.</p>
    </div>
    <div>
      <img src="img/zEsaj8vnQaOCr5EC8Bjt_66.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="alertasEngaOsYEstafasEnWhatsApp-button-bar25" class="button-bar">
      <a ui-sref="tabsController.CMoEnvOFotosWhatsApp()" id="alertasEngaOsYEstafasEnWhatsApp-button89" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.QuSonLasRedesSociales()" id="alertasEngaOsYEstafasEnWhatsApp-button90" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/9mxGz8EhR5upQRXqlsln_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>