<ion-view title="Aplicaciones" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">Aplicaciones: ¿Qué son?, ¿Cómo accedo a ellas?, ¿Cómo&nbsp;</span>
        <span style="color: #000080;">hago para descargar aplicaciones?</span>
      </h4>
      <p>&nbsp;</p>
      <p>En la actualidad los teléfonos móviles no sólo sirven para efectuar y recibir Llamadas. Sino que cuentan con varias aplicaciones (herramientas), algunas vienen incorporadas en el teléfono y otras es necesario descargarlas desde&nbsp;el mismo teléfono,
        presionando el botón que se llama "Play Store". Las aplicaciones no son otra cosa más que una herramienta (botones) que nos permiten realizar una gran variedad de acciones relacionadas con el tema que nos indica su nombre. En este apartado consideraremos
        aquellas que vienen incorporadas al celular: cámara de fotos, radio, agenda, calculadora y despertador.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/Htr0zJcKTIK91jX09Yge_19.jpg" style="display: block; width: 38%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>A la cámara accedemos tocando un dibujo/icono que tiene la forma de una cámara de fotos. Una vez dentro de la aplicación los botones pueden ser diferentes, pero siempre habrá uno para tomar la fotografia. Una vez que estamos en modo cámara de fotos
      podemos elegir si sacar fotos o grabar un video. También, hay celulares que tienen otra cámara en la parte frontal del celular con la que pueden sacar un autoretrato (selfie) y grabar videos de forma con ambas cámaras.</p>
    <div>
      <img src="img/6QknCuAiSQmvJENZQ0s3_20.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <div>
      <img src="img/c9wfCgzXQEK4CalKfmBO_21.jpg" style="display: block; width: 64%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>La galería de fotos generalmente es un botón en forma de un cuadro de fotos, o en algunos casos formas de montañas o flores. Aquí se guardan todas Las imágenes y fotos que sacamos con nuestra cámara, Las imágenes o&nbsp;fotos que descargamos y las
      que nos envían por WhatsApp (más adelante hablaremos de WhatsApp).</p>
    <div>
      <img src="img/4BXXB93zQuWnrr6kINsl_22.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <div>
      <img src="img/mXjfxVNNSI2mhp3hhp8J_24.jpg" style="display: block; width: 38%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>Al presionar sobre el dibujo/icono de "Radio" (graficado con un símbolo de una radio clásica) podemos escuchar Las frecuencias AM y FM. Según el modelo de móvil, puede o no ser necesario que los auriculares estén conectados. Algunos celulares te permiten
      grabar lo que estás escuchando. Para cambiar de sintonía debemos deslizar nuestro dedo por la parte selecionada con rojo en La imágen, y vemos la sintonía en el número grande que aparece en pantalla.</p>
    <div>
      <img src="img/Zh93ciuHTSK2G9drMthY_23.jpg" style="display: block; width: 82%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <div>
      <img src="img/mZeSksjWRIiRxyF296Gp_26.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>Con esta función podemos sumar, restar, multiplicar, dividir, sacar porcentajes y usar Las fórmulas matemáticas al igual que con una calculadora normal.</p>
    <div>
      <img src="img/tyLUNJ36Tymq3cFCl1bQ_25.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <div>
      <img src="img/KQNNNp0sRMCkdBiQwjCk_28.jpg" style="display: block; width: 36%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>Esta función es muy útil, nos ofrece un despertador clásico pero con la ventaja de poder programas varias alarmas por día y elegir los días en los cuales sonará cada alarma, además la función cronómetro y un temporizador.</p>
    <div>
      <img src="img/Oxnmt7fTWebmemF0StSJ_27.jpg" style="display: block; width: 74%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/pfE2uFDzSLihXwBLsxzh_29.jpg" style="display: block; width: 42%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>Esta aplicación puede ser muy útil en La vida diaria. En algunos celulares ya viene incorporada y en otros debemos descargarla del botón de "Play Store".</p>
    <div>
      <img src="img/ytSkCLl0SUyqpubt4oqY_30.jpg" style="display: block; width: 76%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="aplicaciones-button-bar8" class="button-bar">
      <a ui-sref="tabsController.internetConexiNPorDatosMViles()" id="aplicaciones-button34" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.descargarDeNuevasAplicaciones()" id="aplicaciones-button35" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/zcsc6KIlRKJGbBgRIWYK_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>