<ion-view title="¿Cómo busco algo en Google?" id="page20">
  <ion-content padding="true" class="has-header">
    <h4 style="text-align: center;">
      <span style="color: #000080;">¿Cómo busco algo en Google? </span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/URfdY5GTRQiDzOGQeRo1_35.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Buscamos el botón del&nbsp;buscador Google&nbsp;aL ingresar tendremos&nbsp;la pantalla que vemos&nbsp;en la imágen.</p>
      <p>Apretamos en la franja&nbsp;que está marcada en la&nbsp;imágen, se nos va a&nbsp;abrir el teclado y&nbsp;escribimos lo que&nbsp;necesitamos buscar.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/lEE1QuF1Q5SyXgxyUVB2_36.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>Una vez que&nbsp;escribimos lo que&nbsp;deseamos buscar&nbsp;apretamos en el&nbsp;ícono/dibujo con&nbsp;forma de lupa que&nbsp;está marcado en&nbsp;la imágen, para que&nbsp;el buscador pueda&nbsp;hacer su trabajo.</p>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/69uVGUG5SQ2y9ZvGPyLP_37.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Una vez que el buscador hizo su trabajo, nos ofrecerá una lista con distintos resultados de la búsqueda.</p>
      <p>Allí podemos ir apretando en las letras azules para poder ver información de lo que buscamos.</p>
      <p>Pueden ser textos, videos imágenes, etc.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div class="spacer" style="height: 30px;"></div>
    <div id="CMoBuscoAlgoEnGoogle-button-bar15" class="button-bar">
      <a ui-sref="tabsController.losBuscadoresGoogle()" id="CMoBuscoAlgoEnGoogle-button59" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.comunicarseConAmigosWhatsApp()" id="CMoBuscoAlgoEnGoogle-button60" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/NuF3PRfRIOwDhNFdYfXw_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>