<ion-view title="¿Cómo configurar la seguridad en Facebook?" id="page56">
  <ion-content padding="true" class="has-header">
    <h4 style="text-align: center;">
      <span style="color: #000080;">¿Cómo configurar la seguridad en Facebook? </span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <span style="color: #000080;">
        <strong>
          <span style="color: #000080;">1.</span>
        </strong>
      </span>Apretamos el botón de las 3 lineas horizontales para acceder al menú de configuración, y&nbsp;deslizamos hasta donde veamos el botón que dice Configuración y Privacidad.</p>
    <div>
      <img src="img/otoxYs4TtmzOuLLKedSA_89.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>
      <strong>
        <span style="color: #000080;">2.</span>
      </strong>Al apretar el botón de Configuración y Privacidad, se nos desplegará un menú nuevo, en el apretamos donde dice Accesos Directos de Privacidad.</p>
    <div>
      <img src="img/2JzUqc5wRvq5S4vRM0ZM_90.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>
      <strong>
        <span style="color: #000080;">3.</span>
      </strong> Se nos abrirá esta nueva pantalla. Cada botón describe cual es la función que cumple, pero todo se configura de la misma forma que veremos en el siguiente paso.</p>
    <div>
      <img src="img/sbpUZcwQUu5nNQiW2ZDC_91.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>
      <span style="color: #000080;">
        <strong>4.</strong>
      </span> Al entrar a las áreas de configuración del paso anterior se nos abriran pantallas muy similares a esta. En el centro nos describe que es lo que podemos privatizar y abajo podemos ver un botón. Apretamos y vamos al siguiente paso.</p>
    <div>
      <img src="img/GNkWkOSwa54mKnDrId0Q_92.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p>
      <strong>
        <span style="color: #000080;">5.</span>
      </strong> Ahora podemos ver una nueva pantalla con varias opciones de privacidad con sus descripciones. Si apretamos ver más aparece la opción "Solo Yo" para que nadie pueda ver ese dato. Elegimos y apretamos donde dice Listo.</p>
    <div>
      <img src="img/hvhxqZLDTmGQprFFzeGy_93.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p>
      <strong>
        <span style="color: #000080;">6.</span>
      </strong> Al realizar el paso anterior, nos volverá nuevamente a esta pantalla. Ahora apretamos donde dice Siguiente y seguimos configurando nuestro celular de la misma forma.</p>
    <div>
      <img src="img/iZ9LjITHKjpDkCNRHBKw_94.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <h4>
        <span style="color: #000080;">Opciones de privacidad:</span>
      </h4>
      <p>
        <strong>Público</strong>: Toda nuestra información y publicaciones podra ser vista por cualquier persona aunque no nos tenga agregados.</p>
      <p>
        <strong>Amigos</strong>: Solo la gente que nos tiene de amigos podran ver nuestra información y lo que publicamos.</p>
      <p>
        <strong>Amigos excepto</strong>: Nos permite elegir a una o más personas particulares para ocultar nuestra información y publicaciones</p>
      <p>
        <strong>Solo yo</strong>: Con esta opción solo nosotros podremos ver la información y publicaciones</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="CMoConfigurarLaSeguridadEnFacebook-button-bar51" class="button-bar">
      <a ui-sref="tabsController.QuInformaciNNoSeDebeCompartirEnFacebook()" id="CMoConfigurarLaSeguridadEnFacebook-button167" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.correoElectrNicoCrearUnaCuenta()" id="CMoConfigurarLaSeguridadEnFacebook-button168" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/1C6MjmaLQTi2Lk2ipQ9Q_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>