<ion-view title="¿Cómo creo una cuenta en Facebook?" id="page60">
  <ion-content padding="true" class="has-header">
    <p>En general, ingresar y crear una cuenta en una red social es muy sencillo, ya que simplemente implica rellenar un cuestionario con datos personales básicos y así obtener un nombre de Usuario y una Contraseña, que nos servirán para ingresar de manera
      privada a la red.</p>
    <div class="spacer" style="height: 30px;"></div>
    <h4 style="text-align: center;">
      <span style="color: #000080;">¿Cómo creo una cuenta en Facebook?</span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <strong>
        <span style="color: #000080;">Paso 1:</span>
      </strong> Buscamos Facebook desde Google como vimos anteriormente. Una vez en Facebook apretamos el botón que dice "Crear una cuenta nueva".</p>
    <div>
      <img src="img/S5A9zRZhSqyyzcicNvcY_71.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>
      <span style="color: #000080;">
        <strong>Paso 2:</strong>
      </span>Primero debemos colocar nuestro nombre y apellido, luego apretar en los espacios blancos y se nos abrirá el teclado. Escribimos el nombre en el espacio que corresponde y lo mismo con el apellido, Apretamos donde dice Siguiente .</p>
    <div>
      <img src="img/s3od7h6TSziYDtxziEKV_72.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>
      <span style="color: #000080;">
        <strong>Paso 3:</strong>
      </span>Nos pedirá un número de teléfono o un correo electrónico, luego colocamos nuestro correo o número de celular y apretamos donde dice Siguiente.</p>
    <div>
      <img src="img/etALNGZVRd6WP7qMtkL7_73.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>
      <span style="color: #000080;">
        <strong>Paso 4:</strong>
      </span> Tenemos 3 campos para colocar nuestra fecha de nacimiento, uno para el día, otro para el mes y otro para el año. Apretamos el campo para colocar el día y se abrirá una lista y seleccionamos el día que nacimos y hacemos lo mismo con el año y el mes.</p>
    <div
     >
      <img src="img/ZnGDch6QNOZ0NUZD1yyw_74.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 30px;"></div>
      <p>
        <strong>
          <span style="color: #000080;">Paso 5:</span>
        </strong> Aquí es muy simple, Facebook nos pide nuestro género, lo único que debemos hacer es elegir el que nos identifique. Luego apretamos Siguiente.</p>
      <div>
        <img src="img/KdA3TeHlTgOj4MF0ism1_75.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 30px;"></div>
      <p>
        <strong>
          <span style="color: #000080;">Paso 6:</span>
        </strong> Este paso es muy importante, aquí debemos colocar La contraseña de nuestro Facebook. Debe ser segura para que nadie pueda adivinarla y no debemos olvidarla nunca. Una vez colocada apretamos en Registrarte y listo!</p>
      <div>
        <img src="img/SOdk4YgGTXmWWQmp1B0N_76.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <p>Una vez que tengamos creada nuestra cuenta, ingresamos desde la aplicación de Facebook con el correo electrónico y la contraseña que colocamos al registrarnos y sequimos los pasos que van saliendo en nuestra pantalla.</p>
      <div class="spacer" style="height: 30px;"></div>
      <div class="spacer" style="height: 20px;"></div>
      <div id="CMoCreoUnaCuentaEnFacebook-button-bar55" class="button-bar">
        <a ui-sref="tabsController.youtube()" id="CMoCreoUnaCuentaEnFacebook-button179" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
        <a ui-sref="tabsController.CMoSuboUnaFotoYEtiquetoAUnAmigo()" id="CMoCreoUnaCuentaEnFacebook-button180" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <div style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/nTkkiAzCRCt7J4ZPaCfv_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
  </ion-content>
</ion-view>