<ion-view title="¿Cómo envío fotos WhatsApp?" id="page31">
  <ion-content padding="true" class="has-header">
    <h4 style="text-align: center;">
      <span style="color: #000080;">¿Cómo envio fotos, videos, contactos y ubicación por WhatsApp?</span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Para poder enviar a otro contacto todo tipo de archivos, debemos presionar en el icono en forma de clip que aparece en la barra inferior de color blanca.</p>
      <p>Este nos conduce a un menú en la pantalla donde podemos observar diferentes botones con iconos con los nombres de documentos, fotos, videos, audios, contactos, ubicación.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/MJKIe14cReOev1qQxXaI_59.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p>Este botón que aparece al lado del botón del clip para adjuntar archivos nos lleva directamente a nuestra cámara de fotos, apretando aquí podemos grabar videos y tomar fotografias al instante, una vez que terminamos, apretamos el botón verde con la
      flecha blanca para enviar.</p>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/OaDCuzVUQGmjCorJz1sU_60.jpg" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>Con el botón de Documento, que tiene el dibujo de una hoja para escribir podemos enviar cualquier tipo de archivos documento. PDF, archivos de Word, etc.</p>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/F72PFspSBoTLa5UD6Vcw_61.jpg" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>El botón de Cámara, que tiene el dibujo de una cámara de fotos nos Llevará directamente a la cámara de nuestro celular para poder tomar fotos o videos al instante, luego apretamos el botón verde con la flecha para enviar.</p>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/oI2IWtaTkOfqXaZ7cxyl_62.jpg" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>En el botón de Galería, que tiene el dibujo de un cuadro aparecen Los álbumes de fotos. Cuando encontramos la foto que queremos enviar pulsamos sobre ella y presionamos el botón verde con la flecha para enviar.</p>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/XWY3wIxrQeWiLXvB2fvy_63.jpg" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>El botón de Audio, que tiene el dibujo de unos auriculares, nos permite mandar archivos de audio que tengamos guardados en nuestro celular, por ejemplo, música.</p>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/cohqDY5WSBGzx8hWBOLh_64.jpg" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>El botón de ubicación nos permitirá mandar a otros contactos el Lugar donde estamos ubicados para que nos puedan encontrar con el GPS incorporado en los celulares.</p>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/9OIGW6GT5qQv050uWTZ7_65.jpg" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>El botón de contacto nos permitirá mandar contactos que tengamos agendados en nuestro celular a otros. Apretando este boton se abrira una lista de los contactos que tenemos guardados, buscamos y enviamos.</p>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="CMoEnvOFotosWhatsApp-button-bar26" class="button-bar">
      <a ui-sref="tabsController.CMoAgregoUnContacto()" id="CMoEnvOFotosWhatsApp-button92" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.alertasEngaOsYEstafasEnWhatsApp()" id="CMoEnvOFotosWhatsApp-button93" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/3DYa9buoSIuPO2oWGyi4_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>