<ion-view title="¿Cómo envío un mensaje de WhatsApp?" id="page25">
  <ion-content padding="true" class="has-header">
    <h4 style="text-align: center;">
      <span style="color: #000080;">¿Cómo envío un mensaje de WhatsApp? </span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <strong>
          <span style="color: #000080;">Paso 1</span>
        </strong>
      </p>
      <p>Una vez en la aplicación, podemos observar en la primer pantalla una lista de Chats (conversaciones) con la gente con la que ya nos hemos mensajeado. Si en esta pantalla vemos el nombre de la persona con la que queremos chatear (conversar) pulsamos
        directamente sobre el contacto y pasamos al Paso 3. Si nunca hemos chateado con la persona a la que queremos hablar, debemos apretar el botón verde que aparece en la esquina derecha inferior, podemos verlo con una figura blanca (botón selecionado
        en la imágen). Pasamos al Paso 2.</p>
    </div>
    <div>
      <img src="img/S7vCE0SjSnS21nZQHKEB_45.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <p>
        <strong>
          <span style="color: #000080;">Paso 2 </span>
        </strong>
      </p>
      <p>En esta pantalla podremos ver una lista de todos los contactos que tenemos agenciados en nuestro celular (números de teléfono de nuestros amigos y/o familia). Aquí podemos buscar a quien queremos hablar directamente deslizandonos en la lista de
        contactos o usar el buscador apretando la lupa que está seleccionada en la imágen, se abrirá el teclado y escribimos el nombre de la persona a la que queremos mensajear, apretamos sobre el contacto y se nos abrirá la pantalla que veremos en el
        Paso 3.</p>
    </div>
    <div>
      <img src="img/tyHXaZjQRf2Ll0uIyOpA_46.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <p>
        <span style="color: #000080;">
          <strong>Paso 3</strong>
        </span>
      </p>
      <p>Aquí veremos una barra blanca en la parte inferior de la pantalla, apretamos allí, se abrirá el teclado, y escribimos nuestro mensaje. Una vez escrito el mensaje apretamos el botón verde que tiene la figura de una flecha para poder enviarlo (botón
        seleccionado en la imágen).</p>
    </div>
    <div>
      <img src="img/oxjEf4FiSkuyKRI666BN_47.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p>
      <em>Dato</em>: En esta pantalla también veremos el botón que está seleccionado aquí arriba. Sirve para envíar mensajes de voz. Para usarlo debemos mantenerlo apretado mientras decimos nuestro mensaje y al soltarlo, se enviará de forma automática, como
      si fuera un Handy.</p>
    <div>
      <img src="img/DYZKAc7eQRGB6WTb3b8C_48.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="CMoEnvOUnMensajeDeWhatsApp-button-bar20" class="button-bar">
      <a ui-sref="tabsController.CMoFuncionaWhatsApp()" id="CMoEnvOUnMensajeDeWhatsApp-button74" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.QuDebemosTenerEnCuentaEnWhatsApp()" id="CMoEnvOUnMensajeDeWhatsApp-button75" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/DuiWsDoHSRWCQtE5H0gJ_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>