<ion-view title="¿Cómo funciona WhatsApp?" id="page23">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">¿Cómo funciona WhatsApp? </span>
      </h4>
      <p>Una vez descargada e instalada la aplicación, presionamos sobre el icono/dibujo de la aplicación y nos presentara una pantalla en la que hay tres pestañas que nos indican funciones, en la parte superior. De izquierda a derecha son:</p>
    </div>
    <div>
      <img src="img/ej77oJ34QEO7M6tigK1A_41.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/ED2TR2MSDKX1hAtttt6A_42.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <span style="color: #000080;">
          <strong>Chats</strong>
        </span>
      </p>
      <p>Son las conversaciones que tuvimos. Aparecerán los contactos más frecuentes con los últimos chats. Esta es la pantalla de inicio.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/strXM5fwSp6JpOvIlu2s_43.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <span style="color: #000080;">
          <strong>Estados</strong>
        </span>
      </p>
      <p>Presionando la segunda pestaña, podemos compartir con nuestros contactos imágenes, fotos y videos en secciones de 30 segundos. También podemos ver los estados de nuestros contactos.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/o1Yb6FiURFAw7NLSKZny_44.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <span style="color: #000080;">
          <strong>Llamadas</strong>
        </span>
      </p>
      <p>Aquí encontraremos un registro de las llamadas realizadas, recibidas y perdidas.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="CMoFuncionaWhatsApp-button-bar18" class="button-bar">
      <a ui-sref="tabsController.ParaQuSirveWhatsApp()" id="CMoFuncionaWhatsApp-button68" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.CMoEnvOUnMensajeDeWhatsApp()" id="CMoFuncionaWhatsApp-button69" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/wVGmPvUQhu6eiJ3BSCgQ_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>