<ion-view title="¿Cómo hacemos una publicación?" id="page58">
  <ion-content padding="true" class="has-header">
    <h4 style="text-align: center;">
      <span style="color: #003366;">¿Cómo hacemos una publicación de texto (estado)? </span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <strong>
        <span style="color: #003366;">1.</span>
      </strong> Nos situamos en la pantalla inicial de Facebook y apretamos donde dice
      <strong>¿Qué estas pensando?</strong>. El botón está seleccionado en la imágen.</p>
    <div>
      <img src="img/CJtxxu9iRfqJD5qa4LPm_83.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <p>
      <strong>
        <span style="color: #003366;">2.</span>
      </strong>Apretamos de nuevo donde dice
      <strong>¿Qué estas pensando?</strong> se abrirá nuestro teclado y escribimos lo que queremos publicar y apretamos en
      <strong>Publicar</strong>. Este texto será visto por todos en la pantalla inicial.</p>
    <div>
      <img src="img/Oo2qkkeOTJiSoFsF7Fal_84.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <h4 style="text-align: center;">
      <span style="color: #000080;">
        <strong>¿Cómo unirnos a grupos de Facebook?</strong>
      </span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <strong>
        <span style="color: #000080;">1.</span>
      </strong> Ingresamos al menú de opciones apretando el botón con 3 Lineas horizontales que está seleccionado en La imágen. En este menú debemos seleccionar el botón que dice Grupos.</p>
    <div>
      <img src="img/L5ONZlQWRlyT3C4NJkqa_85.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <strong>
        <span style="color: #000080;">2</span>
      </strong>. En esta pantalla apretamos donde dice
      <strong>Buscar</strong> grupos como muestra la imágen. Se abrirá el teclado y escribimos el nombre del grupo al que nos queremos unir.</p>
    <div>
      <img src="img/lMsMNOuS8yn3ADY7KN4B_86.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <p>
      <strong>
        <span style="color: #000080;">3.</span>
      </strong>Una vez que busquemos nos va a salir una Lista con todos los grupos que tienen ese nombre o parecido. Deslizamos hasta encontrar el que nos interesa y apretamos sobre el nombre.</p>
    <div>
      <img src="img/rZa3ZV0oRIiW34bRAnZF_87.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <p>
      <span style="color: #000080;">
        <strong>4.</strong>
      </span> En esta pantalla apretamos en
      <strong>Unirte al grupo</strong>. Si el grupo es público al apretar el botón ya formamos parte de el, si es privado, debemos esperar que aprueben nuestra solicitud.</p>
    <div>
      <img src="img/BG7ejDSlS5qFnj1rQmEf_88.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="CMoHacemosUnaPublicaciN-button-bar53" class="button-bar">
      <a ui-sref="tabsController.CMoSuboUnaFotoYEtiquetoAUnAmigo()" id="CMoHacemosUnaPublicaciN-button173" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.QuInformaciNNoSeDebeCompartirEnFacebook()" id="CMoHacemosUnaPublicaciN-button174" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/IsFhng6CSHuTsscv2F9e_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>