<ion-view title="¿Cómo redactar y enviar un correo electrónico" id="page40">
  <ion-content padding="true" class="has-header">
    <p>Una vez que tengamos nuestra cuenta de correo electrónico en Gmail, podemos usarlo por completo desde la computadora o nuestro celular.</p>
    <div>
      <img src="img/MfYftw7KSMuSEHulqOxc_103.jpg" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p>En nuestro celular podemos encontrar la aplicación de Gmail con este botón que tiene un dibujo de un sobre cerrado.</p>
    <div class="spacer" style="height: 20px;"></div>
    <h4 style="text-align: center;">
      <strong>
        <span style="color: #000080;">¿Cómo redactar y enviar un correo electrónico</span>
      </strong>
    </h4>
    <div>
      <img src="img/hecz3FTSAKLC3dcJ6dxQ_99.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>Para redactar un mensaje debemos apretar en el botón circular que tiene un signo
      <strong>+</strong> en el centro. Al apretar este botón se nos abrirá una nueva pantalla para redactar el correo electrónico que queremos enviar.</p>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/3P3S1IPIRF2NdFanWMap_100.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>Esta es la pantalla para redactar y enviar nuestros correos electrónicos. Donde dice
        <strong>De</strong>, aparecera automáticamente nuestro correo, apretando donde dice
        <strong>Para</strong>, podemos escribir el correo al que queremos enviar el mensaje, y apretando en
        <strong>Asunto</strong>, escribiremos el tema del correo electrónico y donde dice
        <strong>Redactar un correo</strong> escribimos nuestro mensaje.</p>
      <p>En la esquina superior derecha vemos dos botones clásicos, el clip para adjuntar archivos, fotos, videos, etc, y el botón con forma de flecha hacia el costado para enviar nuestros correos.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="CMoRedactarYEnviarUnCorreoElectrNico-button-bar35" class="button-bar">
      <a ui-sref="tabsController.descargarDeNuevasAplicaciones()" id="CMoRedactarYEnviarUnCorreoElectrNico-button119" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.contraseAs()" id="CMoRedactarYEnviarUnCorreoElectrNico-button120" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/smbi4zKQW2b3XgAYNnvg_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>