<ion-view title="¿Cómo subo una foto y etiqueto a un amigo?" id="page59">
  <ion-content padding="true" class="has-header">
    <h4 style="text-align: center;">
      <span style="color: #000080;">¿Cómo subo una foto y etiqueto a un amigo? </span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <p>Ingresamos a Facebook y apretamos donde dice Foto, puede aparecer en diferentes partes de la pantalla dependiendo del celular, pero siempre está arriba o al costado de la barra que dice ¿Qué estas pensando?.</p>
    <div>
      <img src="img/ZMI06w4HTxGJ6nSo6LCX_77.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>En esta pantalla veremos todas las fotos que tenemos guardadas en nuestro celular. Deslizamos con el dedo hasta encontrar la que queremos subir, apretamos sobre ella y luego en Siguiente.</p>
    <div>
      <img src="img/WTZt1QoNTc0DKz8MWNb8_78.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>Aquí ya podemos subir la foto apretando el botón que dice Publicar. Pero si queremos asegurarnos que la persona que sale en la foto la vea, apretamos donde dice Agregar a tu publicación y pasamos al siguiente paso.</p>
    <div>
      <img src="img/AJEFfx9YS8aJxfElYIkk_79.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>Luego de hacer lo explicado, aparecerá en pantalla una nueva lista de cosas que podemos agregar a nuestra publicación. Apretamos donde dice Etiquetar Amigos.</p>
    <div>
      <img src="img/q41J6pZTWegseqmZt3Tt_80.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>Acá apretamos en la barra que dice Buscar y escribimos el nombre de la persona a la que queremos etiquetar y cuando nos aparezca su perfil, apretamos sobre el. Luego apretamos el botón Listo.</p>
    <div>
      <img src="img/zh0jONTzToiO8LG4CRDr_81.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p></p>
    <div>
      <p>Para finalizar pretamos donde dice Publicar y listo!</p>
      <p>Ya aprendimos a subir una foto y etiquetar a quien salga en ella. Podes etiquetar a una o más personas indefinidamente.</p>
    </div>
    <div>
      <img src="img/jqzdVhJORqOpjCgZqUc4_82.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>De esta misma manera etiquetamos a personas en cualquier publicación que realicemos, tanto en fotos, como en videos, estados, páginas, etc.</p>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="CMoSuboUnaFotoYEtiquetoAUnAmigo-button-bar54" class="button-bar">
      <a ui-sref="tabsController.CMoCreoUnaCuentaEnFacebook()" id="CMoSuboUnaFotoYEtiquetoAUnAmigo-button176" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.CMoHacemosUnaPublicaciN()" id="CMoSuboUnaFotoYEtiquetoAUnAmigo-button177" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/FHigNXa6SWudmVjIpwEP_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>