<ion-view title="Comunicarse con amigos: WhatsApp" id="page21">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/8IqvRX5ZTdGw9cIIU7qs_38.jpg" style="display: block; width: 36%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">Comunicarse online con amigos y seres queridos: WhatsApp </span>
      </h4>
      <p>La comunicación entre personas es uno de los grandes negocios de hoy en día, antes de internet sólo existía el teléfono, con la red Llegó el email y ahora casi todas las comunicaciones por mensaje se dan a través de una aplicación de mensajería
        intantánea que todos conocemos y se llama WhatsApp.</p>
      <p>El término genérico "chat'' y "chatear" se refiere a la comunicación instantánea escrita entre dos o más personas a través de internet. Chat es un término que viene del inglés y significa charla. Aunque el término más correcto cuando usamos WhatsApp
        es mensajería instantánea, muchas veces utilizarnos chat porque es
        <br>más corto. Hay diversos tipos de chat, el chat clásico desde páginas web usando computadoras a través de internet y en el que puede participar cualquiera y el chat de la mensajería instantánea desde aplicaciones (apps) en teléfonos móviles, algunos
        sistemas de mensajería también permiten comunicarse a través de La voz y de videollarnada.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="comunicarseConAmigosWhatsApp-button-bar16" class="button-bar">
      <a ui-sref="tabsController.CMoBuscoAlgoEnGoogle()" id="comunicarseConAmigosWhatsApp-button62" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.ParaQuSirveWhatsApp()" id="comunicarseConAmigosWhatsApp-button63" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/918HEAcpTA2EvrM6LHPU_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>