<ion-view title="Contraseñas" id="page52">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">¿Porqué son tan importantes las contraseñas?</span>
      </h4>
      <p>&nbsp;</p>
      <p>Las contraseñas son las Llaves que dan acceso a nuestros servicios y por ende a nuestra inforrnación personal. Si alguien Las consigue podría comprometer nuestra privacidad y seguridad, haciendo cosas como estas:</p>
      <p>- Publicar cosas no deseadas con nuestros nombres en redes sedales.</p>
      <p>- Leer y contestar correos electrónicos haciéndose pasar por nosotros.</p>
      <p>- Acceder a nuestros servicios y datos bancarios y de tarjetas de crédito.</p>
      <p>- Comprar en nuestro nombre si La cuenta del servicio tiene asedado un medio de pago etc.</p>
      <p>- Ingresar a sitios web con contenido peligroso o comprometedor usando nuestra identidad.</p>
      <h4 style="text-align: center;">&nbsp;</h4>
      <h4 style="text-align: center;">
        <span style="color: #000080;">¿Cómo generar una contraseña confiable?</span>
      </h4>
      <p>&nbsp;</p>
      <p>- Debemos elegir contraseñas de al menos 8 caracteres y compuestas por: alguna mayúscula (A, B, C. .. ), una o más minúsculas (a, b, c. .. ), números ( 1, 2, 3 ... ), y caracteres
        <br>especiales($,&amp;,# ... )</p>
      <p>- NO debemos utilizar contraseñas fáciles de adivinar como: "12345678", "qwerty", "aaaaa", nombres de familiares, matriculas de vehículos, o series conocidas por todos como meses del año, secuencias de números, etc.</p>
      <p>- NO debemos compartir nuestras contraseñas. Si lo hacemos, dejará de ser secreta y estaremos dando acceso a otras personas a tu privacidad.</p>
      <p>- NO debemos usar la misma contraseña en varios servicios o correos electrónicos, redes sociales, y menos aún con tus claves de cajero automático o claves bancarias de cualquier tipo.</p>
      <p>- En lo posible elijamos un símbolo especial:"&amp;".</p>
      <p>- Podríamos pensar una frase que no se nos olvide nunca y quedarnos con sus iniciales: "Escoba Nueva Barre Bien"-&gt; "EnBb".</p>
      <p>&nbsp;</p>
      <p>
        <em>Es recomendable anotar las contraseñas que generamos en algún papel y guardarlo bien por si nos olvidamos de alguna. Recordemos que la contraseña es la única llave de acceso tanto para nuestras redes, como para nuestro correo electrónico.</em>
      </p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="contraseAs-button-bar47" class="button-bar">
      <a ui-sref="tabsController.CMoRedactarYEnviarUnCorreoElectrNico()" id="contraseAs-button155" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.menDeLaAplicaciNDeGmail()" id="contraseAs-button156" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/n7tHqahR3S4eEk5gLrpk_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>