<ion-view title="Correo electrónico: Crear una Cuenta" id="page55">
  <ion-content padding="true" class="has-header">
    <h4 style="text-align: center;">
      <span style="color: #000080;">Correo electrónico: Como crear una cuenta de correo </span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Usar una cuenta de correo electrónico sirve para recibir notificaciones o artículas de revistas, enviar correos e inscribirnos en sitios web de nuestro interés,&nbsp; por ejemplo.</p>
      <p>El más usado y que generalmente tenemos instalado para usar en nuestro celular es Gmail.</p>
      <p>&nbsp;</p>
      <p style="text-align: left;">
        <span style="color: #000080;">
          <strong>¿Cómo crear una cuenta de Gmail? </strong>
        </span>
      </p>
      <p style="text-align: left;">Para crear una cuenta de Gmail es recomendable usar una computadora para mayor seguridad y facilidad al momento de crearlo.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/SBSJscymSACWLKanAx8x_96.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p>Abrimos el navegador de internet que tengamos en nuestra computadora y desde&nbsp;Google buscamos Gmail de la misma forma que aprendimos en celulares.</p>
      <p>Una vez que la página cargue por completo apretamos el botón que dice Crear cuenta (botón selecionado en La imagen) y pasamos al siguiente paso.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/XAmRaaFpQLOp89ncpclK_97.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p>Se nos abrirá esta pantalla donde con el mouse debemos clickear en las barras que nos piden ciertos datos, y escribirlos con el teclado. Apretamos el botón que dice Siguiente y nos pedirá otros datos más, como sexo y fecha de nacimiento.</p>
    <div class="spacer"
      style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/PGp0CEEuStuECE8uZdX1_98.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p>Una vez que terminemos de llenar todos nuestros datos, debemos aceptar los Términos de Privacidad y Condiciones de Gmail.</p>
      <p>Para esto debemos apretar donde dice Acepto.</p>
      <p>Ahora si finalizamos, ya tenemos nuestra cuenta de correo electrónico en Gmail.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="correoElectrNicoCrearUnaCuenta-button-bar50" class="button-bar">
      <a ui-sref="tabsController.CMoConfigurarLaSeguridadEnFacebook()" id="correoElectrNicoCrearUnaCuenta-button164" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.CMoRedactarYEnviarUnCorreoElectrNico()" id="correoElectrNicoCrearUnaCuenta-button165" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/uNQPDqJQb6R55KTJnger_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>