<ion-view title="Descargar de nuevas Aplicaciones" id="page13">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">¿Cómo puedo descargar aplicaciones que no vienen en el celular? </span>
      </h4>
      <p>
        <br>Algunas ya vienen incorporadas a nuestro teléfono o tablet. Sólo debemos buscarlas en menú de aplicaciones y allí las veremos. Las que no encontramos, debemos buscarlas y están disponibles en tiendas virtuales. En los dispositivos Android (todos
        los celulares excepto los de marca lphone) La tienda virtual se denomina "Play Store".</p>
      <p>Lo normal es tener que registrarnos para poder descargar aplicaciones. Algunas son gratuitas y otras son pagas.</p>
      <p>En la tienda se separan de forma clara las aplicaciones gratis y de pago. Están agrupadas en categorías para que resulte más fácil buscar. También incluyen Listas con las más populares y buscadores con los que localizar aplicaciones concretas.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="descargarDeNuevasAplicaciones-button-bar9" class="button-bar">
      <a ui-sref="tabsController.aplicaciones()" id="descargarDeNuevasAplicaciones-button40" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.QuEsGooglePlayStore()" id="descargarDeNuevasAplicaciones-button41" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/465o3bceSjmbLuTMGwl1_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>