<ion-view title="Facebook" id="page37">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/z7S5dx0VSJCFnFw4VCgo_69.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>Facebook tiene como función central facilitar la comunicación y el contacto virtual entre personas, compartir contenidos de interés (fotos, enlaces a artículos digitales, videos) o simplemente pasar momentos de ocio. Tiene incorporado un sistema de
      mensajería instantánea que puede descargarse como aplicación (Facebook Messenger).</p>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="facebook-button-bar32" class="button-bar">
      <a ui-sref="tabsController.twitter()" id="facebook-button110" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.youtube()" id="facebook-button111" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/dlYhshXWRoeZJerBoqTc_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>