<ion-view title="Indice" id="page3" style="background-color:#387EF5;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/APsaO7QGSmmrcxhqTlAc_03.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="indice-list12">
      <ion-item class="item-icon-left calm" id="indice-list-item4" ui-sref="tabsController.presentaciN()">
        <i class="icon ion-compose"></i>Presentación</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list2">
      <ion-item class="item-icon-left calm" id="indice-list-item5" ui-sref="tabsController.miTelFonoInteligente()">
        <i class="icon ion-android-phone-portrait"></i>Mi teléfono inteligente</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item11" ui-sref="tabsController.QuSonLasAplicaciones()">
        <i class="icon ion-android-phone-portrait"></i>¿Qué son las aplicaciones?</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list14">
      <ion-item class="item-icon-left calm" id="indice-list-item12" ui-sref="tabsController.menDeConfiguraciN()">
        <i class="icon ion-android-settings"></i>Menú de configuración</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item10" ui-sref="tabsController.QuPuedoModificar()">
        <i class="icon ion-android-settings"></i>¿Qué puedo modificar?</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list11">
      <ion-item class="item-icon-left calm" id="indice-list-item9" ui-sref="tabsController.internetConexiNPorRedWiFi()">
        <i class="icon ion-wifi"></i>Internet: Conexión por red Wi-Fi</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item38" ui-sref="tabsController.internetConexiNPorDatosMViles()">
        <i class="icon ion-wifi"></i>Internet: Conexión por Datos Móviles</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list10">
      <ion-item class="item-icon-left calm" id="indice-list-item6" ui-sref="tabsController.aplicaciones()">
        <i class="icon ion-social-android"></i>Aplicaciones</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item7" ui-sref="tabsController.descargarDeNuevasAplicaciones()">
        <i class="icon ion-social-android"></i>Descargar de nuevas Aplicaciones</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item45" ui-sref="tabsController.QuEsGooglePlayStore()">
        <i class="icon ion-social-android"></i>¿Qué es Google Play Store? </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list9">
      <ion-item class="item-icon-left calm" id="indice-list-item8" ui-sref="tabsController.conectarseAlMundoDeInternet()">
        <i class="icon ion-social-chrome"></i>Conectarse al mundo de Internet</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item17" ui-sref="tabsController.losNavegadores()">
        <i class="icon ion-social-chrome"></i>Los Navegadores</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list8">
      <ion-item class="item-icon-left calm" id="indice-list-item15" ui-sref="tabsController.losBuscadoresGoogle()">
        <i class="icon ion-social-google"></i>Los buscadores: Google</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item40" ui-sref="tabsController.CMoBuscoAlgoEnGoogle()">
        <i class="icon ion-social-google"></i>¿Cómo busco algo en Google?</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list7">
      <ion-item class="item-icon-left calm" id="indice-list-item16" ui-sref="tabsController.comunicarseConAmigosWhatsApp()">
        <i class="icon ion-social-whatsapp-outline"></i>Comunicarse con amigos: WhatsApp</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item39" ui-sref="tabsController.ParaQuSirveWhatsApp()">
        <i class="icon ion-social-whatsapp-outline"></i>¿Para qué sirve WhatsApp? </ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item13" ui-sref="tabsController.CMoFuncionaWhatsApp()">
        <i class="icon ion-social-whatsapp-outline"></i>¿Cómo funciona WhatsApp?</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item14" ui-sref="tabsController.CMoEnvOFotosWhatsApp()">
        <i class="icon ion-social-whatsapp-outline"></i>¿Cómo envío un mensaje?</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item18" ui-sref="tabsController.QuDebemosTenerEnCuentaEnWhatsApp()">
        <i class="icon ion-social-whatsapp-outline"></i>¿Qué debemos tener en cuenta? </ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item41" ui-sref="tabsController.llamadasYVideollamadas()">
        <i class="icon ion-social-whatsapp-outline"></i>Llamadas y Videollamadas</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item19" ui-sref="tabsController.CMoAgregoUnContacto()">
        <i class="icon ion-social-whatsapp-outline"></i>¿Cómo agrego un contacto? </ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item20" ui-sref="tabsController.CMoEnvOFotosWhatsApp()">
        <i class="icon ion-social-whatsapp-outline"></i>¿Cómo envío fotos, videos, etc?</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item21" ui-sref="tabsController.alertasEngaOsYEstafasEnWhatsApp()">
        <i class="icon ion-social-whatsapp-outline"></i>Alertas: engaños y estafas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list5">
      <ion-item class="item-icon-left calm" id="indice-list-item22" ui-sref="tabsController.QuSonLasRedesSociales()">
        <i class="icon ion-android-contacts"></i>¿Qué son las redes sociales? </ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item23" ui-sref="tabsController.twitter()">
        <i class="icon ion-social-twitter"></i>Twitter</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item24" ui-sref="tabsController.facebook()">
        <i class="icon ion-social-facebook"></i>Facebook</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item26" ui-sref="tabsController.youtube()">
        <i class="icon ion-social-youtube"></i>Youtube</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list4">
      <ion-item class="item-icon-left calm" id="indice-list-item25" ui-sref="tabsController.CMoCreoUnaCuentaEnFacebook()">
        <i class="icon ion-social-facebook-outline"></i>Crear una cuenta en Facebook</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item27" ui-sref="tabsController.CMoSuboUnaFotoYEtiquetoAUnAmigo()">
        <i class="icon ion-social-facebook-outline"></i>Subir una foto y etiqueto a un amigo</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item29" ui-sref="tabsController.CMoHacemosUnaPublicaciN()">
        <i class="icon ion-social-facebook-outline"></i>Hacer una publicación</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item28" ui-sref="tabsController.QuInformaciNNoSeDebeCompartirEnFacebook()">
        <i class="icon ion-social-facebook-outline"></i>¿Qué información no se debe compartir? </ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item30" ui-sref="tabsController.CMoConfigurarLaSeguridadEnFacebook()">
        <i class="icon ion-social-facebook-outline"></i>Configurar la seguridad en Facebook</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="indice-list3">
      <ion-item class="item-icon-left calm" id="indice-list-item31" ui-sref="tabsController.correoElectrNicoCrearUnaCuenta()">
        <i class="icon ion-ios-email-outline"></i>Correo electrónico: Crear una Cuenta</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item34" ui-sref="tabsController.CMoRedactarYEnviarUnCorreoElectrNico()">
        <i class="icon ion-ios-email-outline"></i>Redactar y enviar un correo electrónico</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item35" ui-sref="tabsController.contraseAs()">
        <i class="icon ion-ios-email-outline"></i>Contraseñas</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item33" ui-sref="tabsController.menDeLaAplicaciNDeGmail()">
        <i class="icon ion-ios-email-outline"></i>Menú de la aplicación de Gmail</ion-item>
      <ion-item class="item-icon-left calm" id="indice-list-item37" ui-sref="tabsController.protecciNParaNuestroCorreoElectrNico()">
        <i class="icon ion-ios-email-outline"></i>Protección para nuestro correo electrónico</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>