<ion-view title="Internet: Conexión por red Wi-Fi" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Para que nuestro teléfono tenga internet, y por lo tanto tener acceso a las redes sociales o a buscadores de información y noticias, hay dos opciones. Podemos conectarnos por:</p>
      <h4 style="text-align: center;">
        <br>
        <span style="color: #000080;">Conexión por red Wi-Fi </span>
      </h4>
      <p>Es cuando nos conectamos a Internet por una señal inalámbrica que puede estar en nuestra casa, en una plaza o un comercio. Si tenemos contratado un operador de Wi-Fi en nuestra casa (por ejemplo Internet para Todos) tenemos acceso a internet conectando
        nuestro teléfono a esa red Wi-Fi. La primera vez que nos conectemos hay que introducir en el móvil una clave que te da La empresa que brinda el servicio. Vale aclarar que La conectividad a Wi-Fi sólo tiene un rango de alcance Limitado. Si nos
        alejamos, se pierde. Solo es útil en nuestra casa o alrededores.</p>
    </div>
    <div>
      <img src="img/MzKIfYOhRNeH9MTk13bO_13.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/Dzi74m4SkacVAn3puJvq_14.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/YVxBCjTjS4GyNypQcRvO_15.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/hmtjuFiR1u55Qtlw4gMk_16.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>Recordemos que en lugares como hoteles, cafés, restaurantes y oficinas públicas es posible pedir la clave del Wi-Fi para estar conectados en forma gratuita. ¡Preguntemos siempre al entrar a un lugar donde estaremos un tiempo largo, cuál es la clave
      de Wi-Fi&nbsp;
      <br>para conectarnos!</p>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="internetConexiNPorRedWiFi-button-bar6" class="button-bar">
      <a ui-sref="tabsController.QuPuedoModificar()" id="internetConexiNPorRedWiFi-button25" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.internetConexiNPorDatosMViles()" id="internetConexiNPorRedWiFi-button26" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/sfjJCAYPRKPfjaqbLiD3_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>