<ion-view title="Internet: Conexión por Datos Móviles" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #000080;">Conexión por red de Datos Móviles </span>
      </h4>
      <p>&nbsp;</p>
      <p>Si no tenemos contratado internet en nuestra casa y queremos conectarnos, tendremos que tener contratada una tarifa con datos en nuestro teléfono celular. Esto Lo hacemos mediante el pago mensual de un abono de telefonía celular o con recarga virtual,
        Dependerá de una elección personal al momento de comprar el teléfono móvil.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/xiJDPUVxQcuJXkEEK3GU_17.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/3pE9KaZXQyKiiC88KbnK_18.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="internetConexiNPorDatosMViles-button-bar7" class="button-bar">
      <a ui-sref="tabsController.internetConexiNPorRedWiFi()" id="internetConexiNPorDatosMViles-button31" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.aplicaciones()" id="internetConexiNPorDatosMViles-button32" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/BFEkGNARvyYFu5MtagbN_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>