<ion-view title="Llamadas y Videollamadas" id="page32">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">¿Cómo realizo una llamada de audio? </span>
      </h4>
      <p>Para realizar una llamada de audio debemos buscar el contacto con el cual deseamos comunicarnos como vimos anteriormente y una vez en el chat, en la barra verde, justo en la esquina superior a la derecha aparecerá un botón con un pequeño teléfono
        blanco con forma clásica, presionamos sobre este ícono/dibujo y se iniciará la Llamada, para cortar debemos presionar el ícono/dibujo en forma de teléfono color rojo.</p>
      <p>La Llamada solo se podrá efectuar si la otra persona tiene instalada la aplicación de WhatsApp en su celular y está conectada a internet.</p>
    </div>
    <div>
      <img src="img/duXfsSE6SbaKixBCZYbU_54.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">¿Cómo realizo una videollamada?</span>
      </h4>
      <p>Para hacer una video llamada debemos seleccionar el contacto con el cual deseo contactarme por video en directo y presionar en el botón en forma de cámara que se encuentra en la barra superior color verde. Inmediatamente se producirá la video llamada
        con la cámara frontal del celular.</p>
      <p>Para cortar tenemos que presionar el ícono/dibujo en forma de teléfono color rojo.</p>
    </div>
    <div>
      <img src="img/yZbjKsKMS4y1mAl6XhBF_55.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="llamadasYVideollamadas-button-bar27" class="button-bar">
      <a ui-sref="tabsController.QuDebemosTenerEnCuentaEnWhatsApp()" id="llamadasYVideollamadas-button95" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.CMoAgregoUnContacto()" id="llamadasYVideollamadas-button96" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/H9vtY7XvRXR13ojInNlS_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>