<ion-view title="Los buscadores: Google" id="page17">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/EzOLkajlQuKqgcWZSV3J_34.jpg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4 style="text-align: center;">
      <span style="color: #000080;">Los buscadores: Google </span>
    </h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>Hubo un tiempo, al comienzo de internet en los años 90, en que buscar algo por la red de redes era una tarea agotadora y&nbsp;aburrida, ahora las cosas han cambiado. Normalmente uno se sorprende de lo fácil y rápido que resulta buscar información.</p>
      <p>El buscador más utilizado del mundo es Google. Para usarlo, sólo debemos buscar el icono/dibujo de Google en nuestra pantalla e ingresar. Una vez que estamos dentro de Google, solo debemos escribir directamente lo que queremos buscar. Al hacer click
        sobre ella aparecerán los resultados de búsqueda.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="losBuscadoresGoogle-button-bar12" class="button-bar">
      <a ui-sref="tabsController.losNavegadores()" id="losBuscadoresGoogle-button51" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.CMoBuscoAlgoEnGoogle()" id="losBuscadoresGoogle-button52" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/4AqaL5mQFWmp2ayIfMpH_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>