<ion-view title="Los Navegadores" id="page16">
  <ion-content padding="true" class="has-header">
    <h4 style="text-align: center;">
      <span style="color: #000080;">
        <strong>Navegadores </strong>
      </span>
    </h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>Cuando hablamos de entrar en internet generalmente decimos que navegamos, porque entrar a internet es como estar en un inmenso océano que debemos navegar.</p>
      <p>Para poder navegar en ese océano necesitamos un navegador. Los nombres más conocidos de navegadores son: Internet Explorer, Google Chrome, Mozilla Firefox, no debés saberlo ni memorizarlos, te Los mencionamos para que sepamos reconocerlos cuando
        veamos el icono/dibujo de alguno de ellos en nuestro teléfono.</p>
      <p>O, si ya vino instalado en nuestro teléfono o tablet, que sepamos encontrarlo y podamos ingresar directamente para empezar a navegar.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/CbYndGmFS3G3AvHiEpSl_33.jpg" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="losNavegadores-button-bar11" class="button-bar">
      <a ui-sref="tabsController.conectarseAlMundoDeInternet()" id="losNavegadores-button47" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.losBuscadoresGoogle()" id="losNavegadores-button49" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/cdCqIISlTTKJHSwMUXnw_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>