<ion-view title="Menú de la aplicación de Gmail" id="page51">
  <ion-content padding="true" class="has-header">
    <h4 style="text-align: center;">
      <span style="color: #000080;">Menú de la aplicación de Gmail </span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/LT2PGA3Req6R8cr5cTQj_101.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>En la pantalla principal de Gmail podemos ver en la esquina superior izquierda el clásico botón de 3 lineas horizontales para acceder al menú de la aplicación. Al entrar aquí veremos una lista de categorías de nuestro correo.</p>
    <div class="spacer"
      style="height: 30px;"></div>
    <div>
      <img src="img/al6Srb87Svil82LsCsLP_95.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <strong>Leer un Email recibido</strong>: Otras de las funciones básicas dentro de Gmail es la de leer los emails recibidos. Para abrir un mensaje nos dirigimos a la pestaña de "Recibidos". En este momento ya podemos ver nuestros mensajes recibidos ordenados
        por fecha.</p>
      <p>¿Cómo sabemos si lo hemos Leido? Porque al mensaje Lo verás resaltado en un color de Letra más oscuro que el resto. Para Leer un mensaje tan sólo debemos presionar sobre dicho mensaje y se abre para que veamos su contenido.</p>
      <p>
        <strong>Mensajes Enviados</strong>: Gmail también nos almacenará los mensajes que enviemos de la misma forma que los recibidos. Para ver Los mensajes enviados vamos a la sección bandeja de "Enviados" y allí estarán también ordenados por fecha.</p>
      <p>
        <strong>Spam (correo basura)</strong>: Un correo spam, es un correo basura, es decir, mensajes no deseados o no solicitados de un remitente no conocido. Para poder acceder a estos mensajes debemos hacer clic en la pestaña con el nombre spam y estaremos
        en condiciones de ver los correos.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="menDeLaAplicaciNDeGmail-button-bar46" class="button-bar">
      <a ui-sref="tabsController.contraseAs()" id="menDeLaAplicaciNDeGmail-button152" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.protecciNParaNuestroCorreoElectrNico()" id="menDeLaAplicaciNDeGmail-button153" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/1DW2in97Tn2EmDBplyp6_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>