<ion-view title="Menú de configuración" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Por lo general, no sabemos cómo hacer los ajustes para Lograr que nuestro celular responda de la manera en que nosotros queremos. Pasamos mucho tiempo con el mismo fondo de pantalla, con el mismo tono de llamada o con los botones ubicados en lugares
        que no encontramos fácilmente.</p>
      <p>&nbsp;</p>
      <h4 style="text-align: center;">
        <span style="color: #000080;">
          <strong>¿Cómo accedo al menú de configuración? </strong>
        </span>
      </h4>
      <p>Para personalizar nuestro celular hay una opción (un botón en La pantalla) que comúnmente se llama
        <strong>Ajustes</strong>. Usando este botón (generalmente el botón es un dibujo de una tuerca) y Las opciones que nos ofrece podemos ajustar: la pantalla, el sonido, las contraseñas y otros más.</p>
    </div>
    <div>
      <img src="img/ZYVylq0hRFqvpLjrUjrP_07.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/G79ClKuHQ8y7FPKm0ZFg_08.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="menDeConfiguraciN-button-bar4" class="button-bar">
      <a ui-sref="tabsController.QuSonLasAplicaciones()" id="menDeConfiguraciN-button17" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.QuPuedoModificar()" id="menDeConfiguraciN-button18" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/F5OlrxwtRt6wvaj6u4Re_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>