<ion-view title="Mi teléfono inteligente" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">Mi teléfono inteligente: ¿Cómo adaptarlo a mis necesidades? </span>
      </h4>
      <p style="text-align: left;">
        <br>Un Smartphone es un teléfono celular, también Llamado teléfono inteligente, se lo llama inteligente porque puede realizar acciones y comunicarnos con el mundo a través de internet, O sea, comunicarnos estando "en linea". En inglés, Smart significa
        inteligente y Phone es teléfono.</p>
    </div>
    <div>
      <img src="img/m4OGrd0RCYXTmAzaITQC_04.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>El teléfono tiene una pantalla táctil, si deslizamos el dedo por ella podemos pasar a otra serie de pantallas con dierentes
      <br>contenidos como si fueran las páginas de un libro, En todas ellas aparecen iconos (dibujos) que se corresponden con iconos del sistema (funciones que ya vienen con el celular) y aplicaciones (apps) que podemos adquirir en el play store.</p>
    <div
     >
      <img src="img/pgMqjaFMTAmgUrstKpdK_05.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 30px;"></div>
      <div class="spacer" style="height: 20px;"></div>
      <div id="miTelFonoInteligente-button-bar2" class="button-bar">
        <a ui-sref="tabsController.presentaciN()" id="miTelFonoInteligente-button8" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
        <a ui-sref="tabsController.QuSonLasAplicaciones()" id="miTelFonoInteligente-button9" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <div style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/9BOISzDnRPui6HANvq3Q_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="miTelFonoInteligente-button-bar1" class="button-bar"></div>
  </ion-content>
</ion-view>