<ion-view title="¿Para qué sirve WhatsApp?" id="page19">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">¿Para qué sirve WhatsApp?</span>
      </h4>
      <p>Podemos "chatear" o "mensajearnos" todo el tiempo que queramos con cualquier persona que esté entre nuestros contactos telefónicos y que también use la aplicación.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">¿Cómo hago para tener WhatsApp en mi celular? </span>
      </h4>
      <p>Algunas veces ya viene instalado en nuestro dispositivo. Cuando no es asi, debemos descargarlo desde Play Store.</p>
    </div>
    <div>
      <img src="img/YMrcfxqQw2rli8Wc0WYI_39.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>Una vez en Play Store&nbsp;apretamos donde dice&nbsp;"Google Play" como&nbsp;vemos&nbsp;en la imágen. Se nos&nbsp;abrirá el teclado y&nbsp;escribimos WhatsApp.&nbsp;Luego apretamos en el&nbsp;botón con forma de lupa.</p>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <img src="img/DwTNUbZ8SQO7BENxhPTT_40.jpg" style="display: block; width: 71%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>Cuando apretemos el&nbsp;botón de lupa, se nos&nbsp;abrirá esta pantalla.&nbsp;Aquí apretamos en el&nbsp;botón que dice Instalar,&nbsp;esperamos su descarga&nbsp;y listo!&nbsp;</p>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="ParaQuSirveWhatsApp-button-bar14" class="button-bar">
      <a ui-sref="tabsController.comunicarseConAmigosWhatsApp()" id="ParaQuSirveWhatsApp-button56" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.CMoFuncionaWhatsApp()" id="ParaQuSirveWhatsApp-button57" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/rZQjbisERaqCFrB85J85_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>