<ion-view title="Presentación" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/jUKwdhQSxetP2Sg68cbQ_MayoresEnLinealogo01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <p style="text-align: left;">
        <span style="color: #000000;">El Programa "Mayores en línea" tiene como objetivo&nbsp;</span>
        <span style="color: #000000;">conectar a adultos mayores con el mundo digital en el&nbsp;</span>
        <span style="color: #000000;">que transcurre hoy nuestra vida cotidiana. Un mundo&nbsp;</span>
        <span style="color: #000000;">fácilmente accesible, pero que parece comprensible&nbsp;</span>
        <span style="color: #000000;">sólo para Los jóvenes muchas veces. Por eso, pensamos&nbsp;</span>
        <span style="color: #000000;">esta guía simple con contenidos básicos pero&nbsp;</span>
        <span style="color: #000000;">esenciales para estar comunicados y acceder a un&nbsp;</span>
        <span style="color: #000000;">mundo de información y vínculos en la sociedad actual.&nbsp;</span>
        <span style="color: #000000;">Por ejemplo: qué funciones tiene un celular, cómo&nbsp;</span>
        <span style="color: #000000;">comunicarnos con la familia y amigos, cómo compartir</span>
        <br>
        <span style="color: #000000;">momentos vividos, utilizar la web y las redes sociales,&nbsp;</span>
        <span style="color: #000000;">hacer nuevos amigos, asistir a eventos o crear y&nbsp;</span>
        <span style="color: #000000;">difundir actividades propias.</span>
      </p>
      <p style="text-align: left;">
        <br>
        <span style="color: #000000;">Es importante recordar que La presente guía sirve como&nbsp;</span>
        <span style="color: #000000;">un apunte para acompañarte en el uso de tu teléfono,&nbsp;</span>
        <span style="color: #000000;">tablet, o computadora. Pero La única forma de aprender,&nbsp;</span>
        <span style="color: #000000;">es probando. Asi que repasemos esta guía con nuestro&nbsp;</span>
        <span style="color: #000000;">equipo en mano. Práctica, mucha práctica y perder el&nbsp;</span>
        <span style="color: #000000;">temor a equivocarnos. Ese es el único secreto. </span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <a style="display:block;" ui-sref="tabsController.miTelFonoInteligente()">
        <img src="img/Ft7NgfYRQ96US5DRgdOt_01.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/A0lbUTqETxWDG8dnpZnB_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>