<ion-view title="Protección para nuestro correo electrónico" id="page50">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">
          <strong>Protección para nuestro correo electrónico </strong>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p>Cuando alguien consigue acceder a nuestra cuenta de correo electrónico o a nuestra contraseña por cualquier motivo, es relativamente sencillo que pueda Leer, modificar y borrar correos privados o enviar emails en nuestro nombre.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">
          <strong>¿Cómo podemos hacer para tratar de evitar esta situación?</strong>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p>
        <span style="color: #000080;">
          <strong>-</strong>
        </span> Debemos asegurarnos que utilizarnos una contraseña elaborada (con
        <br>mayúsculas, minúsculas, símbolos y números) y que no la estamos utilizando para acceder a ningún otro servicio.</p>
      <p>
        <span style="color: #000080;">
          <strong>-</strong>
        </span>No debemos abrir correos de usuarios desconocidos, podrían contener ficheros con malware, enlaces a páginas maliciosas o que suplantan la identidad de alguna entidad.</p>
      <p>
        <span style="color: #000080;">
          <strong>-</strong>
        </span>Aunque el remitente del correo sea conocido. si el mensaje nos resulta sospechoso, consultemos directamente a esa persona para confirmar que no han falseado su dirección de email.</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="protecciNParaNuestroCorreoElectrNico-button-bar45" class="button-bar">
      <a ui-sref="tabsController.menDeLaAplicaciNDeGmail()" id="protecciNParaNuestroCorreoElectrNico-button148" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.indice()" id="protecciNParaNuestroCorreoElectrNico-button150" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Indice</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/TVrAj5VjSZa976JxDiYH_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>