<ion-view title="¿Qué debemos tener en cuenta en WhatsApp? " id="page24">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #003366;">¿Qué debemos tener en cuenta en WhatsApp? </span>
      </h4>
      <p>
        <br>Solo podemos mandar mensajes de WhatsApp:</p>
      <p>
        <span style="color: #000080;">►</span> Cuando estemos conectados a internet mediante WiFi o tengamos saldo en nuestro celular.</p>
      <p>
        <span style="color: #000080;">►</span> Solo a quienes tengan instalada la aplicación de WhatsApp y esten conectadas a internet.</p>
      <p>
        <span style="color: #000080;">►</span> Solo a quienes tengamos agendadas como contacto en nuestro celular.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <span style="color: #003366;">
        <strong>Botones del teclado que nos servirán mucho:</strong>
      </span>
    </p>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>
        <span style="color: #000080;">
          <strong>Emoticones:</strong>
        </span> Este botón generalmente está en la barra para escribir, aunque en algunos celulares puede estar en otra parte de la pantalla. Si apretamos este botón veremos una variedad de emoticones (caritas) para agregar al mensaje.</p>
      <p>Por ejemplo: Hola hijo, cómo estas?
        <img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-smile.gif" alt="smile">
      </p>
    </div>
    <div>
      <img src="img/C55aIB6JTMKqCOB29Yh2_50.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>
      <strong>
        <span style="color: #000080;">Mayúsculas y Minúsculas:</span>
      </strong> Con este botón podemos cambiar las letras de minúsculas a mayúsculas y viceversa. Puede estar ubicado en diferentes partes de la pantalla dependiendo del celular que usemos, pero en todos está representado con una flecha apuntando para arriba. Apretando
      este botón, la flecha se pondrá azul, y ya podremos escribir en mayúscula, para volver a minúscula solo debemos apretarlo nuevamente.</p>
    <div>
      <img src="img/t9UajurTTaLvxjsBFAzp_51.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <p>
        <span style="color: #000080;">
          <strong>Números y Símbolos:</strong>
        </span> Este botón puede variar en cada celular. En algúnos lo encontraremos como se ve en La imágen (!#1) y en otros casos el botón estará representado con los números 123.</p>
      <p>Apretando este botón, las letras de nuestro teclado cambiarán a números y símbolos para poder usarlos. Para volver a las Letras apretamos nuevamente el mismo botón.</p>
    </div>
    <div>
      <img src="img/B7iICFevSLa8MmTvAJGr_52.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>
      <strong>
        <span style="color: #000080;">Adjuntar Archivos:</span>
      </strong> Este botón con forma de clip sirve para poder enviar archivos, como fotos, videos, musica, documentos, contactos, nuestra ubicación, etc. (más adelante hablaremos sobre este tema).</p>
    <div>
      <img src="img/FGYP1uSFSZSB6SJjUmas_53.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="QuDebemosTenerEnCuentaEnWhatsApp-button-bar19" class="button-bar">
      <a ui-sref="tabsController.CMoEnvOUnMensajeDeWhatsApp()" id="QuDebemosTenerEnCuentaEnWhatsApp-button71" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.llamadasYVideollamadas()" id="QuDebemosTenerEnCuentaEnWhatsApp-button72" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/uASt9aFwRlSNtLTz4GQG_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>