<ion-view title="¿Qué es Google Play Store?" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/VSyXrRSRdCB1ZzzQgmre_31.jpg" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Google Play Store es La tienda online desarrollada y gestionada por Google. Bien podemos llamarla la gran tienda de Google, o el supermercado de Google.</p>
      <p>Es la más popular y la encontrás en casi todos los dispositivos. Te ofrece La posibilidad de descargar aplicaciones, juegos, Libros, películas, música o revistas. Dentro del supermercado de Google, podés ingresar a distintos sectores o "góndolas"
        e ir eligiendo qué descargar o comprar.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/qfehEzR2SkijsUD0KmeK_32.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="QuEsGooglePlayStore-button-bar10" class="button-bar">
      <a ui-sref="tabsController.descargarDeNuevasAplicaciones()" id="QuEsGooglePlayStore-button46" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.conectarseAlMundoDeInternet()" id="QuEsGooglePlayStore-button44" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/U29dltHiTYaCyfl2sWHt_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>