<ion-view title="¿Qué información no se debe compartir en Facebook? " id="page57">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">¿Qué información no se debe compartir en Facebook? </span>
      </h4>
      <p>&nbsp;</p>
      <p>Se trata de información personal que no es recomendable compartir en internet. Además de ser información que no es necesaria para el uso de Facebook, también se aconseja no darla a conocer para evitar el robo de datos importantes. Algunos datos
        que no debemos compartir en Facebook son:</p>
      <p>
        <span style="color: #000080;">► </span>
        <strong>Número de teléfono</strong>: Este dato es totalmente personal y es importante no publicarlo en Facebook. No solo puede ser usado por cualquier persona, sino que algunos negocios o marcas pueden aprovecharlo para enviar publicidad.</p>
      <p>
        <span style="color: #000080;">►</span>
        <strong>Fecha de cumpleaños</strong>: La fecha de cumpleaños suele añadirse a la información de Facebook para que los contactos sepan cuándo es. Sin embargo, no es un dato relevante y puede ser utilizado para obtener más información.</p>
      <p>
        <span style="color: #000080;">►</span>
        <strong>Lugar de trabajo</strong>: Mencionar el nombre de una empresa o lugar de trabajo no es aconsejable. Ya que revela un dato sobre parte de La rutina de una persona.</p>
      <p>
        <span style="color: #000080;">►</span>
        <strong>Ciudad en que vives</strong>: Es común añadir este dato a Facebook, pero no es aconsejable. Las personas que te conozcan no necesitan saber dónde vives.</p>
      <p>
        <span style="color: #000080;">►</span>
        <strong>Nombre de escuela a la que asisten los hijos</strong>: En caso de personas con hijos, mencionar la escuela a la que asisten puede ser peligroso. No se recomienda para nada compartir esta información.</p>
      <p>
        <span style="color: #000080;">►</span>
        <strong>Dirección personal</strong>: Al igual que el número de teléfono es totalmente prescindible.</p>
      <p>Las redes sociales ponen a nuestro alcance distintos recursos para divulgar y compartir con otras personas la información que queremos "compartir" sobre la vida cotidiana, ya sea personal o profesional. No obstante, tenemos que tener en cuenta que
        dicha información, aunque la borremos, quedará registrada en los servidores de la red social. Además, cualquiera que la haya visto podría haber hecho uso de ella, ya sea copiándola o difundiéndola. Nunca compartas datos referidos a:</p>
      <p>
        <span style="color: #ff0000;">X</span> Contraseñas</p>
      <p>
        <span style="color: #ff0000;">X</span> Comportamientos inapropiados&nbsp;</p>
      <p>
        <span style="color: #ff0000;">X</span> Datos bancarios</p>
      <p>
        <span style="color: #ff0000;">X</span> Insultos, palabras malsonantes</p>
      <p>
        <span style="color: #ff0000;">X</span> Teléfono móvil</p>
      <p>
        <span style="color: #ff0000;">X</span> Datos médicos o relativos a tu salud</p>
      <p>
        <span style="color: #ff0000;">X</span> Planes para Las vacaciones</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="QuInformaciNNoSeDebeCompartirEnFacebook-button-bar52" class="button-bar">
      <a ui-sref="tabsController.CMoHacemosUnaPublicaciN()" id="QuInformaciNNoSeDebeCompartirEnFacebook-button170" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.CMoConfigurarLaSeguridadEnFacebook()" id="QuInformaciNNoSeDebeCompartirEnFacebook-button171" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/dOWE21SvSamqMmlrqjgF_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>