<ion-view title="¿Qué puedo modificar?" id="page15">
  <ion-content padding="true" class="has-header">
    <h4 style="text-align: center;">
      <span style="color: #000080;">¿Qué puedo modificar en mi celular desde el menú Ajustes?</span>
    </h4>
    <div>
      <img src="img/oUidH9wLSfuzK1WDgSYC_09.jpg" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p>El menú Ajustes nos muestra una lista de todo Lo que podemos modificar en nuestro celular: nos permite modificar la pantalla, los sonidos de Los mensajes, sonidos de Las llamadas, fondos de pantalla, etc.</p>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #000080;">Pantalla</span>
      </h4>
      <p>En este acceso podemos definir cómo queremos: el brillo, el tamaño, la forma de la Letra, cambiar el fondo de pantalla y establecer el tiempo que La pantalla se mantendrá encendida sin utilizar el celular, por ejemplo.</p>
    </div>
    <div>
      <img src="img/Higm9bdQiCH8UwJLmSK0_10.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #000080;">Sonido </span>
      </h4>
      <p>Desde aquí podemos modificar el volumen (subirlo o bajarlo), elegir el tono de Llamada, el tono de recepción de mensajes (cómo sonará cada mensaje que yo reciba de acuerdo a si se trata de un mensaje de voz, de whatsapp, de correo electrónico, etc).</p>
    </div>
    <div>
      <img src="img/6Dw9z8uKR7mP6Dd1HvUP_11.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #000080;">Contraseñas</span>
      </h4>
      <p>Con esta opción podemos bloquear el acceso a nuestro teléfono con una clave o patrón. De esa forma evitaremos que, por ejemplo, otras personas puedan leer nuestras conversaciones o ver nuestras fotos. La mayoría de Los dispositivos nos pedirá nuevamente
        la contraseña o patrón si no Los utilizarnos durante un tiempo (un minuto aproximadamente), apagándose La pantalla, pero no el teléfono. Asi, cuando lo utilicemos de nuevo pondremos la contraseña que sólo nosotros conocemos.</p>
    </div>
    <div>
      <img src="img/2pIVJa49QOeW1ada8KI5_12.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="QuPuedoModificar-button-bar5" class="button-bar">
      <a ui-sref="tabsController.menDeConfiguraciN()" id="QuPuedoModificar-button20" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.internetConexiNPorRedWiFi()" id="QuPuedoModificar-button21" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/k3FAuhpmSTKBGZ6WBnAo_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>