<ion-view title="¿Qué son las aplicaciones?" id="page7">
  <ion-content padding="true" class="has-header">
    <h4 style="text-align: center;">
      <span style="color: #000080;">¿Qué son las aplicaciones?</span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <p>Una aplicación o app es una herramienta representada por un ícono/dibujo que encontramos en la pantalla por su nombre, y que al presionarlo nos permite realizar&nbsp;muchas acciones y ver información relacionada con el tema de su nombre. Algunas ya
      vienen instaladas en el celular como la linterna, la cámara, entre otras. Y hay algunas que debemos descargarlas desde Play Store (más adelante profundizaremos).</p>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/vxAEoBdRyeCZeOd3UPS5_06.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="QuSonLasAplicaciones-button-bar3" class="button-bar">
      <a ui-sref="tabsController.miTelFonoInteligente()" id="QuSonLasAplicaciones-button14" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.menDeConfiguraciN()" id="QuSonLasAplicaciones-button15" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/AKbmroVkTaWlqvbkCdYY_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>