<ion-view title="Twitter" id="page28">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/beOfs4RtthDVuuIxtyAD_68.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>Es una red social que permite publicar textos cortos con un máximo de 280 caracteres (letras o símbolos) llamados tuits. Cada uno puede elegir "seguir" a otro usuario y de esta manera ver el contenido de sus publicaciones. A diferencia de otras redes,
      en Twitter se puede seguir a otra persona sin tener el consentimiento de ella. El objetivo Twitter es publicar contenido de interés y lograr captar la mayor cantidad de seguidores posibles. Se utiliza principalmente para ver opiniones y comentarios
      de personajes de la política, entretenimiento, arte, etc. sobre temas de actualidad.</p>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="twitter-button-bar23" class="button-bar">
      <a ui-sref="tabsController.QuSonLasRedesSociales()" id="twitter-button83" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.facebook()" id="twitter-button84" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/S0A59bPYQoKF7CtDQLB8_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>