<ion-view title="Youtube" id="page61">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/kx3fKEqrTfOaFFXSqAJy_70.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <p>Youtube es un sitio web que almacena videos de contenidos variados como programas de televisión, películas, novelas, videos musicales, cursos y tutoriales diversos. Las personas pueden acceder a su contenido de manera abierta y gratuita sin necesidad
      de tener una cuenta ni registrarse. Si queremos hacerlo, YouTube permite crear una cuenta y con ella poder subir y compartir videos de creación propia.</p>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="youtube-button-bar56" class="button-bar">
      <a ui-sref="tabsController.facebook()" id="youtube-button182" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Anterior</a>
      <a ui-sref="tabsController.CMoCreoUnaCuentaEnFacebook()" id="youtube-button183" style="border-radius:80px 80px 80px 80px;" class="button button-positive button-block">Siguiente</a>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/0qB5oxXySWu6gurM2wdL_Linea.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>