<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iNNOVA.MayoresEnLinea" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Mayores en Línea</name>
    <description>
       El Programa "Mayores en línea" tiene como objetivo conectar a adultos mayores con el mundo digital en el que transcurre hoy nuestra vida cotidiana. Un mundo fácilmente accesible, pero que parece comprensible sólo para Los jóvenes muchas veces. Por eso, pensamos esta guía simple con contenidos básicos pero esenciales para estar comunicados y acceder a un mundo de información y vínculos en la sociedad actual.
    </description>
    <author email="marcos.nieto17@gmail.com" href="http://www.unlarsomostodos.tk/">
        Marcos Nieto
    </author>
    <content src="index.html" />
    <access origin="*" />
   	
	
	<gap:splash src="splash.png" />
<preference name="show-splash-screen-spinner" value="true" />
<preference name="SplashScreenDelay" value="5000" />    
<preference name="fullscreen" value="true" />
	
<preference name="android-minSdkVersion" value="17" />)
<preference name="android-targetSdkVersion" value="28" />)
	
	<platform name="android">
        <icon qualifier="xxxhdpi" src="Icon.png" />
        <splash qualifier="" src="Splash.png" />
   	</platform>
	
	
<gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>

<gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
	
	
	
</widget>